<h1>Filtrar</h1>
<h4>Sala</h4>
<hr>
<div class="row">
	<div class="col-md-4">
		<form asp-action="TarefaFuncionario"> <!--chama o metodo trf com o parametro busca sendo o valor do input-->
			<div class="form-group">
				<label class="col-form-label">Filtrar Tarefa por Nome de Funcionário</label>
				<input type="text" class="form-control" name="filtro">
			</div>
			<div class="form-group">
				<input type="submit" value="Filtrar" class="btn btn-primary">
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>